In [ ]:
x=7
y="data"
print(x)
my_variable=10
print(my_variable)

my_variable+=5
print(my_variable)

7
10
15

work with string

In [ ]:
"Im into bata science"
question="waht are you studying"
answer="analytics"
print(question)
print(answer)
print(f"(question)(answer)")

waht are you studying
analytics
(question)(answer)

In [ ]:

len(answer)
answer[0]##first character
answer[2]
answer[9]##there is no character  and give the error

'a'

In [4]:
course="CTBA"
len(course)##lengh of string
print(course[0:2])

CT

In [ ]:
answer_up=answer.upper()
print(answer_up)

ANALYTICS

In [6]:
answer.lower()

'analytics'

In [ ]:
answer.find("t")

5

In [10]:
name="violet"
print("hello, I am" +name +"nice to meet you")
##rewrite this using f-string
print(f"hello,my name is {name} nice to meet you")

hello, I amvioletnice to meet you
hello,my name is violet nice to meet you

    t1[0] = 11 
    # This will raise an error because 	tuples are immutable

In [ ]:

t1 = (1, 2, 3, 4, 5) # This is a tuple
print(t1) # This will print the tuple t1
	## (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

dictionary

In [ ]:
d1 = {"name": "violet", "age": 25, "city": "Williamsburg"} 
# This is a dictionary where "name", "age", and "city" are the keys
print(d1["name"])
print(d1["age"])
##Updates the value for the key 'age' to 24
d1["age"] = 24
##Adds a new key-value pair ('email', 'pgschlosser@wm.edu') to the dictionary
d1["email"] = "yzhao32@wm.edu" 

##Prints the updated dictionary
print(d1) ## {'name': 'Schlosser', 'age': 24, 'city': 'Williamsburg', 'email': 'yzhao32@wm.edu'}

violet
25
{'name': 'violet', 'age': 24, 'city': 'Williamsburg', 'email': 'yzhao32@wm.edu'}

##items()

In [ ]:
for key, value in d1.items():
        print(key, ":", value)
##items() returns a view object containing the dictionary’s (key, value) pairs. It is commonly used in loops to iterate through both the keys and values.

name : violet
age : 24
city : Williamsburg
email : yzhao32@wm.edu

A dictionary of dictionaries is a nested data structure where each value in the outer dictionary is itself a dictionary.

In [17]:
people = {    "person1": {"name": "Schlosser", "age": 23, "city": "Williamsburg"},
              "person2": {"name": "Smith", "age": 30, "city": "Newport News"}}
print(people)
## {'person1': {'name': 'Schlosser', 'age': 23, 'city': 'Williamsburg'}, 'person2': {'name': 'Smith', 'age': 30, 'city': 'New Port News'}}

{'person1': {'name': 'Schlosser', 'age': 23, 'city': 'Williamsburg'}, 'person2': {'name': 'Smith', 'age': 30, 'city': 'Newport News'}}

在 Python 中，字典对于解决旅行推销员问题 (TSP) 等实际问题非常有用，因为它们提供了以下功能
- 快速查找距离 fast lookup for distance
- 灵活的数据结构 flexible data structure： 字典允许您动态更新路线、成本和访问状态。
- 可读性和结构 readability& structure： 与基于索引的原始数组相比，使用城市名称作为键使模型更易于理解和维护。
- 允许您轻松建立复杂关系的模型 easily model complex relatic

In [19]:
## Dictionary of Dictionaries Example
distances = {"A": {"B": 10, "C": 15},
"B": {"A": 10, "C": 20},
"C": {"A": 15, "B": 20}}
print(distances)

{'A': {'B': 10, 'C': 15}, 'B': {'A': 10, 'C': 20}, 'C': {'A': 15, 'B': 20}}

In [2]:
##student GPA
gpa = {
    "alice": 3.4,
    "bob": 3.8,
    "chalie": 3.2
}
print(gpa["alice"])  # 输出 3.4
print(gpa.get("bob"))  # 输出 3.8
gpa["david"] = 4.0  # 添加新学生
gpa["bob"] = 3.9    # 修改 Bob 的 GPA
for name, score in gpa.items():
    print(f"{name}: {score}")

3.4
3.8
alice: 3.4
bob: 3.9
chalie: 3.2
david: 4.0

if else
- Python 和 R 都使用 if 语句来根据条件是 TRUE（R）还是 True（Python）来控制代码流。两者都可以与 else 和 else if (R) / elif (Python) 结合使用，以实现多分支。

In [1]:
x = 10
if x > 5:
        print("x is greater than 5")
## x is greater than 5

x is greater than 5

In [ ]:
x = 4
if x % 2 == 0:
        print("x is even")
else:  
       print("x is odd")
## x is even
##% is the modulo operator (remainder).余数
##== checks equality.

x is even

In [4]:
x = 4
if x % 3 == 0:
        print("true")
else:  
       print("false")

false

In [6]:
x = 0
if x > 0:
    print("Positive")
elif x == 0:  
    print("Zero")
else:
    print("Negative")
## Zero

Zero

for loop
- Python（和 R）都使用 for 循环来遍历序列（列表、向量、范围等）中的元素。循环变量依次接受每个元素的值。

In [7]:
for i in range(5):
        print("i is", i)

i is 0
i is 1
i is 2
i is 3
i is 4

while 循环
- 是一种控制结构，只要指定条件为 True（Python）或 TRUE（R），它就会重复执行代码块。
- 具体来说，while 循环在条件为 True 时重复执行。

In [ ]:
x = 0
while x < 5:
    if x % 2 == 0:
        print(x, "is even")
    else:
        print(x, "is odd")
    x += 1

0 is even
1 is odd
2 is even
3 is odd
4 is even

In [22]:
import numpy as np

In [ ]:
pip install numpy

Collecting numpy
  Downloading numpy-2.3.2-cp313-cp313-win_amd64.whl.metadata (60 kB)
Downloading numpy-2.3.2-cp313-cp313-win_amd64.whl (12.8 MB)
   ---------------------------------------- 0.0/12.8 MB ? eta -:--:--
   ------ --------------------------------- 2.1/12.8 MB 10.9 MB/s eta 0:00:01
   ------------ --------------------------- 3.9/12.8 MB 10.6 MB/s eta 0:00:01
   ------------------ --------------------- 6.0/12.8 MB 10.2 MB/s eta 0:00:01
   ------------------------ --------------- 7.9/12.8 MB 9.8 MB/s eta 0:00:01
   ----------------------------- ---------- 9.4/12.8 MB 9.2 MB/s eta 0:00:01
   --------------------------------- ------ 10.7/12.8 MB 8.7 MB/s eta 0:00:01
   ------------------------------------- -- 12.1/12.8 MB 8.5 MB/s eta 0:00:01
   ---------------------------------------- 12.8/12.8 MB 8.1 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-2.3.2
Note: you may need to restart the kernel to use updated packages.